In [14]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/shreya/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/shreya/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [16]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [23]:
my_first_db = mongo['my_db']

In [24]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [28]:
my_first_Collection = my_first_db['my_collection']
my_db.list_collection_names()

[]

In [31]:
my_first_Collection.insert_one({'name': 'Mickey'})

In [32]:
print(mongo.list_database_names())
print(my_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [34]:
results = my_first_Collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey'}

In [35]:
my_first_Collection.insert_one({'name': 'Minnie', 'age': '25'})

In [36]:
results = my_first_Collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey'}
{'_id': ObjectId('6360481f948b228501838926'), 'name': 'Minnie', 'age': '25'}

In [37]:
goofy = {'_id' :3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'}
my_first_Collection.insert_one(goofy)

In [39]:
results = my_first_Collection.find()
for results in results:
    print(results)

{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey'}
{'_id': ObjectId('6360481f948b228501838926'), 'name': 'Minnie', 'age': '25'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'}

In [40]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_Collection.insert_many(animals)

In [42]:
results = my_first_Collection.find()
for results in results:
    print(results)

{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey'}
{'_id': ObjectId('6360481f948b228501838926'), 'name': 'Minnie', 'age': '25'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'}
{'_id': ObjectId('63604a24948b228501838927'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63604a24948b228501838928'), 'name': 'Daisy', 'species': 'duck'}

In [43]:
query = {'name' : 'Donald'}
results = my_first_Collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('63604a24948b228501838927'), 'name': 'Donald', 'species': 'duck'}

In [44]:
query = {'age':{'$gt': 85}}
results = my_first_Collection.find(query)
for result in results:
    print(result)

{'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'}

In [46]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_Collection.update_one(query, update)
[r for r in my_first_Collection.find()]

[{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6360481f948b228501838926'), 'name': 'Minnie', 'age': '25'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'},
 {'_id': ObjectId('63604a24948b228501838927'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63604a24948b228501838928'),
  'name': 'Daisy',
  'species': 'duck'}]

In [52]:
query = {'name' :  'Minnie'}
update = {'$set': {'name': 'Minnie Mouse'}}
my_first_Collection.update_one(query, update)
[r for  r in my_first_Collection.find()]

[{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6360481f948b228501838926'),
  'name': 'Minnie Mouse',
  'age': '25'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'},
 {'_id': ObjectId('63604a24948b228501838927'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63604a24948b228501838928'),
  'name': 'Daisy',
  'species': 'duck'}]

In [53]:
query = {'name': 'Minnie'}
my_first_Collection.delete_one(query)
[r for r in my_first_Collection.find()]

[{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6360481f948b228501838926'),
  'name': 'Minnie Mouse',
  'age': '25'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'},
 {'_id': ObjectId('63604a24948b228501838927'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63604a24948b228501838928'),
  'name': 'Daisy',
  'species': 'duck'}]

In [56]:
query = {'species': 'duck'}
my_first_Collection.delete_many(query)
[r for r in my_first_Collection.find()]

[{'_id': ObjectId('63604695948b228501838925'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6360481f948b228501838926'),
  'name': 'Minnie Mouse',
  'age': '25'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'spices': 'dog'}]

In [58]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [59]:
my_first_db.list_collection_names()

[]

In [ ]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]